# Dependencies to run Pix2Pix_Facades.ipynb
# Install PyTorch CPU build with:
#   pip install torch torchvision --index-url https://download.pytorch.org/whl/cpu
torch
torchvision
numpy
pillow
matplotlib
tqdm
scikit-image
torchmetrics
torch-fidelity
scipy
jupyter
ipykernel
nbconvert
